@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #3eecac;
  background-image: linear-gradient(19deg, #3eecac 0%, #ee74e1 100%);
  font-family: "Kalam", cursive;
}
